{% extends "base.html" %}

{% block body %}
<div class="body-dash">

    <div class="col-sm-9 col-md-9" style="overflow-x: scroll">
        <form action="dashboard" id="retrieve-form">
        Start: <input type="date" id="start-date" name="start">
        End: <input type="date" id="end-date" name="end">
        <input type="submit" value="Retrieve"></form>
        <div class="list-group-item" id="admin-list">
            <form id="update-form">
            Username: <input type="text" name="username">
            Course: <input type="text" name="course">
            <input type="submit" value="Update">
            <span id="form-feedback" style="color: red"></span>
            <table class="table table-bordered">
                <tr>
                <th>Time</th>
                {% for date in dates %}
                <th>{{date}}</th>
                {% endfor %}
                </tr>
                {% for i in range(13) %}
                <tr>
                    <td>{{i+9}}:00</td>
                    {% for j in range(cells[i].length) %}
                        <td>
                            <input type="checkbox" name="{{dates[j].substring(0, 8)}}-{{i+9}}">
                            {% if cells[i][j] !== "" %}
                            {{cells[i][j].username}}, {{cells[i][j].course}}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </form>
        </div>
    </div>

    <div class="col-sm-3 col-md-3 sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks fa"></i>
                    Recent orders
            </div>

            <div class="panel-body">
                {% for order in orders %}
                    <span class="list-group-item">{{order.order_date}} {{order.username}}</span>
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i>
                        All Users
            </div>

            <div class="panel-body">
                {% if users.length === 0 %}
                    No users registered!
                {% endif %}
                {% for user in users %}
                    <a href="/profile?id={{user.username}}" class="list-group-item">
                        {{user.username}}
                        <span style="float: right; color: {% if friend.online %}green{% else %}red{% endif %}">
                            ● {% if friend.online %}online{% else %}offline{% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
